html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  width: 300px;
  height: 250px;
  cursor: pointer;
  border: 1px solid #010101;
  background: #ffffff no-repeat -1px -1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #mainContent div,
  #mainContent img {
    position: absolute; }

.coinClass1, .coinClass2, .coinClass3, .coinClass4 {
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
  background: url("../img/coin.png") no-repeat;
  background-size: cover; }
