@import '_config';
@import '_mixins';
body {
    margin: 0;
    padding: 0;
}

#mainContent {
    position: relative;
    // overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    border: 1px solid #010101;    
    background: #ffffff no-repeat -1px -1px;
    box-sizing: border-box;
    div,
    img {
        position: absolute;
    }
}


.coinClass1,.coinClass2,.coinClass3,.coinClass4{
    width:20px;
    height:20px;
    transform: translate(-20px, -20px);
    background: url('../img/coin.png') no-repeat;
    background-size: cover;
}


